body {
  background: rgb(230, 230, 226);
  background: linear-gradient(
    118deg,
    rgba(230, 230, 226, 1) 0%,
    rgba(147, 166, 178, 1) 58%,
    rgba(132, 147, 154, 1) 100%
  );
  background-attachment: fixed;
  color: #545454;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #1b7fb3;
}
a:hover {
  color: #bf8240;
}

.weather-container {
  max-width: 600px;
  margin: 50px auto;
}

.header-search,
.current-weather,
.forecast-container,
.footer-element {
  background-color: #ffffff;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
}

.footer-element {
  padding: 10px;
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 2px;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #4093bf;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
